<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../images/day-care1.jpg" type="image/gif" sizes="16x16">
</head>
<style>
    a{
      margin-right: 12px;
    }
    a:hover{
      transform: scale(1.1);
      transition: .3s linear;
    }
    </style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <img src="../../uploads/<%= url %>" alt="User Image" class="img">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a style="font-size: 20px; color:white;"  class="nav-link" href="/">Buy Plans</a>   
              <a style="font-size: 20px; color:white;" class="nav-link" href="/user/">My Plans</a>
              <a style="font-size: 20px; color:white;" class="nav-link" href="/user/update_profile">Update Profile</a>
              <a style="font-size: 20px; color:white;" class="nav-link" href="/user/logout" >Log Out</a>
            </div>
          </div>
        </div>
      </nav>

      <h1 class="text-center mb-md-5 mb-sm-4 mt-5 display1 text-primary">Buy Plan</h1>
    <div class="container">
        <form method="post" action="/user/buy_plan" >
            <div class="row">
                <input type="hidden" name="id" value="<%= id %> ">
                <div class="col-md-6 col-sm-6 mb-5 mx-sm-auto  mx-5 d-flex align-items-stretch">
                    <div class="card">
                        <img src="../../images/day-care1.jpg" class="card-img-top" alt="Day Care">
                        <div class="card-body">
                            <h5 class="card-title"><%= plan.title %></h5>
                            <p class="card-text">Day Care Plan</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Trial Period: <%= plan.trial %></li>
                            <li class="list-group-item">Duration: <%= plan.duration %></li>
                            <li class="list-group-item">Time Duration: <%= plan.time_duration %></li>
                            <li class="list-group-item">Price: <%= plan.price %>$</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mx-sm-auto">
                    <label class="col-sm-4 col-form-label">Pick a Time Slot</label>
                    <div class="col-sm-12 mb-4">
                        <input list="val1" name="time" class="form-control">
                        <datalist id="val1">
                            <option value="09:00 AM">
                            <option value="12:00 PM">
                            <option value="14:30 PM">
                            <option value="18:30 PM">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-sm-4 mx-auto mb-5">
                    <button type="submit" class="btn btn-outline-primary" name="buy-button" id="buy-button">Buy</button>
                </div>
            </div>
        </form>
    </div>


    </body>

    </html>